.container {
    text-align: center;
}
.input {
    width: 50px;
    text-align: center;
    border: none;
    font-size: 40px;
}
.button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
}